{%- comment %}
- `title`: The title of the link. (required)
- `url`: The URL of the link. (required)
- `blurb`: A brief description of the link. (optional)
- `created_at`: The date the link was created. (optional)
- `tags`: A list of tags for the link. (optional)
{% endcomment -%}
{%- if links -%}
<nav class="links">
<ul>
{%- assign entries = links | sort: "created_at" | reverse -%}
{%- for entry in entries -%}
<li>
<a href="{{ entry.link }}">{{ entry.title }}</a>
<sub>{{ entry.created_at | date: '%B %-d, %Y' }}</sub>
</li>
{%- endfor -%}
</ul>
</nav>
{%- endif -%}