<!DOCTYPE html>
<html lang="en">
<head>
{% include "_head.liquid" -%}
</head>
<body hx-boost="true">
{% include "_header.liquid" -%}
<main>
{{ content }}
{%- assign children = page.children | or_array -%}
{%- assign siblings = page.siblings | or_array -%}
{%- assign entries = children | concat:siblings | frontmatter -%}
{% render '_links.liquid', links: entries %}
</main>
{%- include "_footer.liquid" -%}
</body>
</html>