<!DOCTYPE html>
<html lang="en">
<head>
{% include "_head.liquid" -%}
<script async data-uid="46504208bc" src="https://cnr.kit.com/46504208bc/index.js"></script>
</head>
<body>
{% include "_header.liquid" -%}
<main>
{{ content }}
{% include "_refs.liquid" %}
</main>
{%- include "_newsletter.liquid" -%}
{%- include "_footer.liquid" -%}
</body>
</html>