<!DOCTYPE html>
<html lang="en">
<head>
{% include "_head.liquid" -%}
</head>
<body>
{% include "_header.liquid" -%}
<main>
{{ content }}
{% render '_links.liquid', links: page.talks %}
</main>
{%- include "_footer.liquid" -%}
</body>
</html>